# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# Testing
.pytest_cache/
.coverage

# IDE
.vscode/

# ML artifacts
mlruns/
models/

# DVC cache
.dvc/cache/

# OS
.DS_Store
Thumbs.db

# MLFlow
mlflow/

terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/terraform.tfvars
terraform/crash.log